@value colors: "../../utils/colors.css";
@value color-text-tertiary from colors;

.BrowseContainer {
	margin: 0 30px 50px;
}


/* Styles for browsing Latest and TopRated */
.Latest, .TopRated {
	margin: 0px auto;
	max-width: 900px;
	padding: 0 20px;
}
.Latest .Title,
.TopRated .Title {
	text-align: left;
	font-size: 3rem;
	margin-bottom: 20px;
	color: color-text-tertiary;
	border-bottom: 1px solid;
	text-transform: capitalize;
}