@value colors: "../../utils/colors.css";
@value 	color-primary, color-text-primary, color-border-lightgrey, color-white,color-google-blue, color-login-warning, color-login-failed from colors;

.FormContainer {
	max-width: 370px;
	margin: 30px auto;
	padding: 0 20px 20px;
}


.GoogleBtn {
	text-align: center;
	width: 100%;
	display: block;
	border: 1px solid;
	padding: 10px 0;
	margin: 20px 0;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
}
.GoogleBtn:hover {
	background-color: color-google-blue;
	border-color:  color-google-blue;
}
.GoogleBtn:hover a {
	color: color-white;
}


.OrDivider {
	text-align: center;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
}
.OrDivider span {
	padding: 16px;
	text-align: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	position: relative;
}
.OrDivider span::before,
.OrDivider span::after {
	content: '';
	position: absolute;
	border-bottom: 1px solid #e6e6e6;
}
.OrDivider span::before {
	top: 50%;
	right: 100%;
	width: 500px;
}
.OrDivider span::after {
	top: 50%;
	left: 100%;
	width: 500px;
}



.Switch {
	text-align: center;
}
.Switch a {
	color: color-primary;
	line-height: 20px;
	font-size: 1.3rem;
}

.Refered {
	background: color-login-warning;
	font-size: 1.4rem;
	padding: 20px 0;
	text-align: center;
	width: 100%;
	position: relative;
}

.AuthFailed {
	background: color-login-failed;
	font-size: 1.4rem;
	padding: 20px 0;
	text-align: center;
	width: 100%;
	position: relative;
	border-radius: 4px;
	margin-bottom: 20px;
}
.CloseMessage {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px;
	cursor: pointer;
}