@value colors: "../../../../utils/colors.css";
@value color-text-primary, color-text-tertiary, color-border-lightgrey from colors;

.DropdownItem {
	font-size: 1.4rem;
	line-height: 20px;
	font-weight: 400;
	color: color-text-primary;
}
.DropdownItem a {
	padding: 8px 16px;
	text-decoration: none;
	display: block;
	color: color-text-primary;
}
.DropdownItem i {
	color: color-text-tertiary;
	margin-right: 16px;
}
.HeadItem {
	font-size: 2rem;
	line-height: 30px;
	padding: 0px 16px;
	border-bottom: 1px solid color-border-lightgrey;
}

.DropdownItem a:hover {
	background: color-primary;
}
.DropdownItem:hover a,
.DropdownItem:hover i {
	color: color-white;
}