@value colors: "../../../../utils/colors.css";
@value color-melody, color-lyrics, color-bassline, color-chords, color-other from colors;

.Connection {
	margin-bottom: 20px;
	position: relative;
}
.Types {
	font-size: 1.2rem;
	position: absolute;
	top: 0px;
	line-height: 20px;
	left: 0px;
}
.Melody {
	color: color-melody;
}
.Lyrics {
	color: color-lyrics;
}
.Bassline {
	color: color-bassline;
}
.Chords {
	color: color-chords;
}
.Other {
	color: color-other;
}