@value colors: "../../../../utils/colors.css";
@value primaryText, darkGrey, melody, lyrics, bassline, chords, other from colors;

.Connection {
	margin-bottom: 20px;
	position: relative;
}
.Types {
	font-size: 12px;
	position: absolute;
	top: 0px;
	line-height: 20px;
	left: 0px;
}
.Melody {
	color: melody;
}
.Lyrics {
	color: lyrics;
}
.Bassline {
	color: bassline;
}
.Chords {
	color: chords;
}
.Other {
	color: other;
}