@value colors: "../../../../utils/colors.css";
@value color-white, color-text-secondary, color-secondary, color-border-lightgrey from colors;

.SubmissionStatement {
	margin: 20px 0;
	position: relative;
}

.SubmissionStatement button {
	border: 1px solid;
	border-radius: 10px;
	background: color-white;
	color: color-text-secondary;
	padding: 4px 8px;
	cursor: pointer;
}
.SubmissionStatement button:focus {
	outline: none;
}
label.Instructions {
	font-size: 1.2rem;
	color: color-secondary;
}
.SubmissionStatement input[type=text] {
	border: none;
	border-bottom: 1px solid color-secondary;
	width: 100%;
	box-sizing: border-box;
	line-height: 20px;
	font-size: 1.2rem;
	padding: 0 10px;
	color: color-text-secondary;
}
input[type=text]:focus {
	outline: none;
}
.InputContainer {
	margin-top: 10px;
	transition: .5s all;
	height: 60px;
	border-left: 1px solid color-border-lightgrey;
	padding: 0 50px;
}
.Hidden {
	height: 0;
	overflow: hidden;
}
