@value colors: "./utils/colors.css";
@value bodyBackground, bodyBackgroundTwo from colors;

body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

p {
	margin: 0;
	color: #333;
	font-weight: 300;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

}
