@value colors: "./utils/colors.css";
@value color-primary, color-text-primary, bodyBackground, bodyBackgroundTwo from colors;

html {
	font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, a, span {
	margin: 0;
	color: color-text-primary;
	font-weight: 300;
}
p, a, span {
	font-size: 1.6rem;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
