@value colors: "../../../utils/colors.css";
@value color-primary from colors;

.Breadcrumbs {
	margin-top: 10px;
	padding: 10px 10px;
}

.Browse {
	font-size: 1.5rem;
	display: inline-block;
	color: color-primary;
}

.Category {
	font-size: 1.3rem;
	display: inline-block;
	margin-left: 5px;
	color: color-primary;
}

.SubCategory {
	font-size: 1.3rem;
	display: inline-block;
	margin-left: 5px;
	color: color-primary;
}