@value colors: "../../../utils/colors.css";
@value color-text-tertiary from colors;

.Footer {
	background: color-text-tertiary;
	height: 70px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}