@value colors: "../../../utils/colors.css";
@value navText, primary, secondary from colors;

.NavMenu {
	color: navText;
	display: flex;
	align-items: center;
}
.NavMenu a {
	color: inherit;
	margin: 0 8px;
	font-size: 15px;
	font-weight: 300;
}
.NavMenu a:hover {
	color: primary;
}
.Big a {
	font-size: 20px;
}
.Small a {
	font-size: 14px;
}
.Light a {
	color: #FFF;
}
.Light a:hover {
	color: #000;
}
@media (min-width: 900px) {
	.NavMenu a {
		margin: 0 16px;
	}
}