@value colors: "../../../utils/colors.css";
@value color-primary, color-white, color-black from colors;

.NavMenu {
	color: color-primary;
	display: flex;
	align-items: center;
}
.NavMenu a {
	color: inherit;
	margin: 0 8px;
	font-size: 1.5rem;
}
.NavMenu a:hover {
	color: color-primary;
}
.Big a {
	font-size: 2rem;
}
.Small a {
	font-size: 1.4rem;
}
.Light a {
	color: color-white;
}
.Light a:hover {
	color: color-black;
}


@media (min-width: 900px) {
	.NavMenu a {
		margin: 0 16px;
	}
}