@value colors: "../../../utils/colors.css";
@value color-primary, color-secondary from colors;

.SubCategory {
	margin: 50px auto;
	padding: 0 20px;
	max-width: 900px;
}

.Title {
	color: color-primary;
	text-align: center;
	font-size: 5rem;
	margin-bottom: 50px;
	text-transform: capitalize;
}