@value colors: "../../../utils/colors.css";
@value color-primary, color-black from colors;

.BrowseNav {
	display: flex;
	justify-content: space-between;
	padding: 20px ;
	max-width: 500px;
	margin: auto;
}

.BrowseNav a {
	color: color-black;
	text-decoration: none;
}

a.ActiveTab {
	color: color-primary;
}