@value colors: "../../../utils/colors.css";
@value color-text-tertiary, color-border-lightgrey, color-text-primary from colors;

.UserTabs {
	margin: auto;
	display: flex;
	justify-content: flex-start;
	color: color-text-tertiary;
	border-bottom: 1px solid color-border-lightgrey;
	width: 100%;
	margin-bottom: 20px;
	font-size: 1.4rem;
	line-height: 3.4rem;
}
.UserTab {
	cursor: pointer;
	margin-right: 18px;
}
.UserTab:hover {
	border-bottom: 1px solid;
}

.ActiveTab {
	color: color-text-primary;
	border-bottom: 1px solid color-text-primary;
}