@value colors: "../../../../utils/colors.css";
@value color-primary, color-text-tertiary from colors;

.SelectedTrack {
	margin: 0px 0;
}

.CurrentTrack {
	border: 3px solid color-primary;
}

.Placeholder {
	width: 100%;
	display: flex;
	margin: 10px 0;
}
.PlaceholderCover {
	width: 80px;
	height: 80px;
	background: color-text-tertiary;
}
.PlaceholderText {
	padding-left: 20px;
	color: color-text-tertiary;
	display: flex;
	align-items: center;
	justify-content: center;
}