@value colors: "../../../utils/colors.css";
@value primary, secondary from colors;

.Modal {
    position: fixed;
    z-index: 500;
    background-color: primary;
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0,0,0,.25);
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    text-align: center;
}

.Links {
    display: flex;
    flex-flow: column;
}
.Links a {
    color: primary;
    margin: 5px;
    text-decoration: none;
}

.AnotherSubmissionBtn {
    cursor: pointer;
    color: primary;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

