@value colors: "../../../utils/colors.css";
@value color-white, color-primary, color-border-lightgrey from colors;

.SearchBar {
	position: relative;
	margin: auto auto;
	max-width: 500px;
	width: 100%;
}
.SearchBar input {
	width: 100%;
	background: color-white;
	border: 1px solid color-border-lightgrey;
	border-radius: 20px;
	height: 3rem;				/* Changes in Skinny bar */
	font-size: 1.6rem;			/* Changes in Skinny bar */
	color: color-text-primary;
	box-shadow: 4px 2px 2px rgba(0,0,0,0);
	padding: 10px 40px 10px 20px;
	margin:0;
	box-sizing: border-box;
}
.SearchBar input:focus {
	outline: none;
	border: 1px solid color-primary;
	background: color-white;
}
.SearchBar input::placeholder {
	color: color-text-tertiary;
}
.Skinny input {
	height: 3rem;				/* Changes in Skinny bar */
	font-size: 1.4rem;			/* Changes in Skinny bar */
}

/* Styling specifically for the search bar inside the nav */
.Nav input {
	box-shadow: 4px 2px 2px rgba(0,0,0,0),
		inset 2px 2px 4px rgba(0,0,0,0);
}
.Nav input:focus {
	border: 1px solid color-primary;
}
/* Search Bar Button Styles */
.SearchBar button {
	position: absolute;
	right: 0;
	height: 100%;
	cursor: pointer;
	background: transparent;
	border: none;

}
.SearchBar button:focus {
	outline: none;
}
.SearchBar button:active {
	background: transparent;
}
.SearchBar button span {
	font-size: 2rem;
	vertical-align: middle;
	color: color-text-tertiary;
}
.SearchBar i {
	color: color-secondary;
	background: linear-gradient(90deg, transparent , rgba(255,255,255,1));
	text-shadow: 0px 0px 5px rgba(color-secondary, .75);
}


/* The Search Bar on the search page should only be display when the width of the page is small 
	enough that the search bar in the navbar is not shown */
@media (min-width: 600px) {
	.SearchPage {
		display: none;
	}
}