@value colors: "../../../utils/colors.css";
@value color-primary, color-black from colors;

.Genres {
	margin: 0 20px;
	padding: 0 25px;
}
.Genres > h1 {
	text-align: center;
}
.GenreGroup {
	margin: 50px auto;
	max-width: 800px;
}
.GroupTitle {
	color: color-primary;
	font-size: 2rem;
	line-height: 26px;
	border-bottom: 1px solid;
	margin-bottom: -10px;
}

/* Slider Container */
.Container {
	max-width: 900px;
	margin: 40px auto;
	position: relative;
}

.Slider > button::before {
	color: #161616;		
	/* This doesn't work with variables for some reason*/
}

.Container > a {
	position: absolute;
	right: 0;
	color: 3rem;
	text-align: right;
	font-size: 1.2rem;
}

.Container > a:hover {
	color: color-primary;
}

.BrowseContainer {
	margin: 0 30px 50px;
}