@value colors: "../../../../../utils/colors.css";
@value color-primary, color-text-primary, color-text-tertiary, color-offWhite, color-white from colors;

.SearchResult {
	border-bottom: 1px solid color-text-tertiary;
	box-sizing: border-box;
	background: color-white;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	padding: 16px 0;
	box-shadow: 0 2px 4px rgba(0,0,0,0);
	transition: .2s all;
}
.SearchResult:hover {
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
	background: color-offWhite;
	color: primary;
}
.TrackInfo {
	font-size: 15px;
	color: color-text-secondary;
}

.TrackName {
	color: color-text-primary;
}

.ArtistName {
	font-size: 1.4rem;
}

.AlbumName {
	display: inline;
	font-size: 1.2rem;
}

.TrackYear {
	display: inline;
	font-size: 1.2rem;
}

.AlbumCover {
	width:50px;
}
.AlbumCover img {
	width: 100%;
	height: auto;
	box-shadow: 0px 4px 4px rgba(0,0,0,.25);
}

.ConnectionCount {
	font-size: 1.1rem;
	color: color-primary;
}