@value colors: "../../../utils/colors.css";
@value color-primary, color-offWhite from colors;

.ContentEditable {
	width: 300px;
	text-overflow: wrap;
}
.ContentEditable > .Label {
	font-size: 1.2rem;
	font-weight: 400;
	color: color-primary;
}
.Container {
	border-bottom: 1px solid color-primary;
	margin-bottom: 20px;
	background: color-offWhite;
	padding: 10px;
	border-radiius: 6px;
}

.ContentEditable span {
	outline: none;
}

.ContentEditable span:focus .Container {
	border: 1px solid color-secondary;
}

