@value colors: "../../../../utils/colors.css";
@value primary, secondary, primaryText, logo from colors;

.AuthLinks {
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	text-align: right;	
	font-size: 14px;
}
.AuthLinks a {
	color: logo;
}

.AuthLinks a:hover {
	color: primaryText;
}
.Horizontal {
	flex-flow: row;
	align-items: center;
}
.Horizontal a {
	margin-left: 10px;
}

