@value colors: "../../../../utils/colors.css";
@value color-primary, color-text-primary from colors;

.AuthLinks {
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	text-align: right;	
	font-size: 1.4rem;
}

.AuthLinks a {
	color: color-primary;
}

.AuthLinks a:hover {
	color: color-text-primary;
}

.Horizontal {
	flex-flow: row;
	align-items: center;
}

.Horizontal a {
	margin-left: 10px;
}

