@value colors: "../../utils/colors.css";
@value color-text-tertiary from colors;


/* Holds Types and SubmittedBy Info */
.MetaContainer {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid color-text-tertiary;
}
.SubmittedBy {
	color: color-text-tertiary;
	font-size: 1.4rem;
}