.AddConnection {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px; }

.AddTrack {
  max-width: 30%;
  min-width: 200px;
  border: 1px solid #aaa;
  border-radius: 0px 0px 10px 10px;
  margin-top: 100px;
  background: #FFF; }
  .AddTrack .addTrack-title {
    background: #111;
    color: #FFF;
    width: 100%;
    padding: 5px;
    box-sizing: border-box; }
  .AddTrack .addTrack-container {
    padding: 20px; }
  .AddTrack p {
    font-size: 12px;
    color: #555;
    border-bottom: 0.5px solid #555; }
  .AddTrack form {
    background: #FFF;
    margin-top: 20px;
    border-bottom: 1px solid #555; }
    .AddTrack form label {
      font-size: 12px; }
    .AddTrack form input {
      width: 100%;
      margin-bottom: 10px;
      outline: none;
      padding: 5px;
      box-sizing: border-box; }
    .AddTrack form input[type=text]:focus {
      border: 1px solid #111; }
    .AddTrack form input[type=submit] {
      width: 50px;
      background: #111;
      border: none;
      color: #FFF;
      cursor: pointer;
      border: 1px solid #111; }
    .AddTrack form input[type=submit]:focus {
      border: 1px solid #E80C7A; }
    .AddTrack form input[type=submit]:hover {
      background: #E80C7A; }

.SearchResults {
  display: flex;
  flex-direction: column;
  background: #FFF;
  height: 200px;
  overflow: auto;
  box-sizing: border-box; }
  .SearchResults ul {
    list-style: none; }
    .SearchResults ul .SearchResultItem {
      display: flex;
      justify-content: flex-start;
      padding: 10px;
      border-bottom: 0.5px solid #555;
      color: #111;
      font-size: 12px;
      border-left: 5px solid #111;
      box-sizing: border-box; }
      .SearchResults ul .SearchResultItem img {
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        display: inline-block; }
    .SearchResults ul .SearchResultItem:hover {
      border-left: 5px solid #E80C7A;
      background: #EEE;
      cursor: pointer; }

.SubmitConnection {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #FFF;
  margin-top: 100px;
  min-width: 300px;
  width: 25%;
  padding: 25px 0px; }
  .SubmitConnection .track-submission {
    border: 0.5px solid #aaa;
    border-left: 0px;
    border-right: 0px;
    padding: 10px;
    display: flex;
    justify-content: flex-start; }
  .SubmitConnection img {
    width: 100px;
    height: 100px; }
  .SubmitConnection .submitButton {
    height: 50px;
    margin: 0;
    background: #111;
    color: #FFF;
    border: 1px solid;
    cursor: pointer;
    width: 100px;
    margin: auto; }
  .SubmitConnection .successful-submission {
    font-size: 11px;
    text-align: center;
    color: #aaa; }

.track-info {
  border-left: 1px solid #aaa;
  margin-left: 10px;
  padding-left: 10px; }
  .track-info .trackName {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 900; }
  .track-info .artist-album-container {
    color: #aaa;
    padding-left: 5px;
    font-size: 13px; }
    .track-info .artist-album-container .artistName {
      color: #555; }
    .track-info .artist-album-container .albumName {
      text-wrap: none; }

.empty-selection {
  border: 0.5px solid #aaa;
  height: 100px; }
  .empty-selection .empty-message {
    font-size: 12px;
    text-align: center;
    color: #555;
    line-height: 100px; }
