@value colors: "../../utils/colors.css";
@value lightGrey from colors;

.Connection {
}
.TracksContainer {
	background: linear-gradient(45deg, #FFEFBD, #FFD9F2);
	background: #F3F3F3;
	background: #FFF;
	width: 100%;
	padding: 20px 20px;
	border-top: 1px solid #E7E7E7;
	box-sizing: border-box;
}
/* Holds Types and SubmittedBy Info */
.MetaContainer {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid lightGrey;
}
.SubmittedBy {
	color: #aaa;
	font-size: 14px;
}