@value colors: "../../utils/colors.css";
@value warningText from colors;

.SubmitPage {
	min-height: 100vh;
	padding: 20px 20px 100px;
}
.Container {
	max-width: 900px;
	margin: auto;
}
.HeaderMessage h3 {
	font-size: 16px;
}
.SubmitStep {
	margin: 30px 20px;
	position: relative;
}
.StepInstructions {
	margin-bottom: 18px;
}

.StepNumber {
	position: absolute;
	margin: 0;
	margin-left: -20px;
	top: 0;
	font-size: 18px;
}
.StatementContainer {
	max-width: 400px;
}
.SubmissionStatement {
	border: 1px solid;
}

.SubmissionStatement p:nth-child(1) {
	font-size: 16px;
	color: #353535;
	background: #f8f8f8;
	padding: 4px;
	margin-bottom: 10px;
}
.SubmissionStatement p:nth-child(2)  {
	text-align: center;
	color: #aaa;
	font-size: 12px;
}

.SubmitButton {
	text-align: center;
	margin: 20px 0;
}
.WarningMessage {
	color: warningText;
}

@media screen and (min-width: 1200px) {
	.Container {
		display: flex;
		max-width: none;
	}
	.Right {
		flex-grow: 1;
	}
}
