@value colors: "../../../utils/colors.css";
@value color-primary, color-text-tertiary from colors;

.SearchTrack {
	width: 90%;
	margin: auto;
	max-width: 400px;
}

.Controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.4rem;
	padding: 0 20px;
}
.TrackSelectors {
	padding: 10px 0;
}
.TrackSelectors > span {
	margin: 0;
	margin-right: 14px;
	color: color-text-tertiary;
	cursor: pointer;
}

.TrackSelectors > span.Active {
	color: color-primary;
}