@value colors: "../../../utils/colors.css";
@value color-text-secondary, color-text-tertiary from colors;

.Connections {
	margin-top: 50px;
	padding: 0px 20px;
}

.Header {
	text-align: center;
	margin: auto;
	border-bottom: 1px solid color-text-tertiary;
	font-size: 1.6rem;
	color: color-text-secondary;
	margin-bottom: 25px;
}

@media screen and (min-width: 650px) {
	.Connections {
		max-width: 50%;
	}
}