@value colors: "../../../utils/colors.css";
@value primary, secondary from colors;

.PageNumbers {
	display: flex;
	justify-content: center;
	align-items: baseline;
	border-top: 1px solid #e7e7e7;
	margin-top: 50px;
	width: 100%;
}
.PageNumber {
	margin: 0 5px;
	color: #888;
	cursor: pointer;
}
.PageIter {
	margin: 0 10px;
}
.CurrentPage {
	color: primary;
	font-size: 20px;
	font-weight: 800;
}
/* Load More Styles */

.LoadMore {
	border-top: none;
	margin-top: 20px;
}
.LoadMoreMessage {
	cursor: pointer;
	font-size: 12px;
	color: #aaa;
	transition: .5s all;
}
.LoadMoreMessage:hover {
	color: #555;
}