@value colors: "../../../utils/colors.css";
@value color-white, color-text-secondary from colors;

.PageNumbers {
	display: flex;
	justify-content: center;
	align-items: baseline;
	border-top: 1px solid color-white;
	margin-top: 50px;
	width: 100%;
}
.PageNumber {
	margin: 0 5px;
	color: color-text-secondary;
	cursor: pointer;
}
.PageIter {
	margin: 0 10px;
}
.CurrentPage {
	color: primary;
	font-size: 2rem;
	font-weight: 800;
}
/* Load More Styles */

.LoadMore {
	border-top: none;
	margin-top: 20px;
}
.LoadMoreMessage {
	cursor: pointer;
	font-size: 1.2rem;
	color: color-text-tertiary;
	transition: .5s all;
}
.LoadMoreMessage:hover {
	color: color-text-secondary;
}