@value colors: "../../utils/colors.css";
@value color-text-tertiary, color-secondary from colors;

.SearchPage {
	margin: 50px 20px;
}
.Message {
	font-size: 14px;
	margin: 20px 0 50px;
	text-align: center;
	color:color-text-tertiary;
}
.Message .SearchString {
	color: color-secondary;
}

