.Avatar {
	border-radius: 100%;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
}
.AvatarImage {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #ddd;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.AvatarImage > img {
	width: 40px;
	height: 40px;
}

