@value colors: "../../utils/colors.css";
@value color-primary, color-secondary, color-white from colors;

.AboutPage {
	background: linear-gradient(45deg, color-primary,color-secondary);
	min-height: 100vh;
	color: color-white;
}

.Header {
	padding: 50px;
}
.Header h1 {
	margin: 0;
	font-size: 4rem;
	text-decoration: underline;
}