@value colors: "../../../utils/colors.css";
@value 	color-primary from colors;


.ValidationAdvice {
	display: inline-block;
	display: flex;
	flex-flow: column;
	color: color-primary;
	margin: 0 0 0;
	font-size: 1.2rem;
	line-height: 2rem;
}
