@value colors: "../../../utils/colors.css";
@value color-melody, color-bassline, color-chords, color-lyrics, color-other from colors;

.Types {
	display: flex;
	font-size: 1.2rem;
	justify-content: flex-start;
	border-bottom: 1px solid color-text-tertiary;
}
.Types:first-child {
	margin: 0;
}
.Type {
	font-size: 1.6rem;
	margin-right: 16px;
}
.Type a {
	text-decoration: none;
	color: inherit;
}



#Melody {
	color: color-melody;
}
#Lyrics {
	color: color-lyrics;
}
#Bassline {
	color: color-bassline;
}
#Chords {
	color: color-chords;
}
#Other {
	color: color-other;
}