@value colors: "../../../../utils/colors.css";
@value color-melody, color-bassline, color-chords, color-lyrics, color-other, color-text-tertiary, color-text-secondary, color-black from colors;

.Rating {
	font-size: 3.6rem ;
	line-height: 1rem;
	width: 100px;
}
.RatingValue {
	text-align: right;
	margin-right: 10px;
	color: color-text-tertiary;
}
.Big {
	font-size: 5rem;
	font-weight: 800;
}
.Small {
	font-size: 3.6rem;
}
.HighRating {
	color: color-black;
	font-weight: bolder;
}

.VotesContainer {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 10px;
}
.Votes, .Comments {
	font-size: 1.6rem;
	display: flex;
	align-items: baseline;
	margin-left: 16px;
	color: color-text-tertiary;
}
.Votes > i, 
.Comments > i {
	font-size: 1.4rem;
	margin-right:4px;
	display: flex;
	align-items: flex-end;
	color: color-text-secondary;
}
.Types {
	font-size: 1.2rem;
	position: absolute;
	top: 0;
	right: 10px;
}
.Melody {
	color: color-melody;
}
.Lyrics {
	color: color-lyrics;
}
.Bassline {
	color: color-bassline;
}
.Chords {
	color: color-chords;
}
.Other {
	color: color-other;
}