@value colors: "../../../../utils/colors.css";
@value melody, bassline, chords, lyrics, other from colors;

.Rating {
	font-size: 36px ;
	line-height: 1em;
	width: 100px;
}
.RatingValue {
	text-align: right;
	margin-right: 10px;
	color: #888;
}
.Big {
	font-size: 50px;
	font-weight: 800;
}
.Small {
	font-size: 36px;
}
.HighRating {
	color: #000;
	font-weight: bolder;
}
.VotesContainer {
	display: flex;
	position: absolute;
	bottom: 0;
	right: 10px;
}
.Votes, .Comments {
	font-size: 16px;
	display: flex;
	align-items: baseline;
	margin-left: 10px;
}
.Votes > i, 
.Comments > i {
	font-size: 14px;
	margin-right:4px;
	display: flex;
	align-items: flex-end;
}
.Types {
	font-size: 12px;
	position: absolute;
	top: 0;
	right: 10px;
}
.Melody {
	color: melody;
}
.Lyrics {
	color: lyrics;
}
.Bassline {
	color: bassline;
}
.Chords {
	color: chords;
}
.Other {
	color: other;
}