@value colors: "../../../utils/colors.css";
@value primary, secondary from colors;

.SideDrawer {
	position: fixed;
	left: 0;
	top: 50px;
	height: 100%;
	width: 250px;
	box-shadow: 4px 0px 10px rgba(0,0,0,.25);
	transition: transform .5s ease-out;
	z-index: 2000;
	color: #FA8990;
	background: #FFF;
}

.Open {
	transform: translateX(0);
}

.Closed {
	transform: translateX(-150%);
}