@value colors: "../../../utils/colors.css";
@value color-primary, color-text-primary, color-text-secondary from colors;

.Track {
	box-sizing: border-box;
}
.TrackContainer {
	width: 100%;
	display: flex;
	flex-flow: row;
}

.AlbumCover {
	width: 8rem;
	height: 8rem;
}
.SmallAlbumCover {
	width: 5rem;
	height: 5rem;
}
.AlbumCover > img {
	width: 100%;
	height: 100%;
}
.AlbumOutline {
	border: 2px solid color-primary;
}


.TextInfo {
	color: color-text-primary;
	font-size: 1.4rem;
	padding: 0 10px;
	box-sizing: border-box;
	width: auto;
}
.TextInfo > div {
	width: 100%;
}
.Title {
	color: color-text-primary;
	font-size: 1.6rem;
}
.Artist {
	
}
.Album {
	color: color-text-secondary;
}
.Year {
	font-size: 1.2rem;
	text-align: center;
}