@value colors: "../../../utils/colors.css";
@value color-melody, color-bassline, color-chords, color-lyrics, color-other from colors;

ul.Types {
	list-style: none;
	display: flex;
}

.Types li {
	margin-right: 20px;
	opacity: .5;
	transition: .2s all;
	cursor: pointer;
	vertical-align: middle;
	font-size: 1.4rem;
}
.Types li:hover {
	border-bottom: 1px solid;
}
.Types li.Selected {
	opacity: 1;
	border-bottom: 1px solid;
	font-weight: 800;
}

#Melody {
	color: color-melody;
}
#Lyrics {
	color: color-lyrics;
}
#Bassline {
	color: color-bassline;
}
#Chords {
	color: color-chords;
}
#Other {
	color: color-other;
}