@value colors: "../../../../utils/colors.css";
@value color-primary, color-secondary from colors;

.Posted {
	color: color-secondary;
	font-size: 1.2rem;
}

.Posted > span {
	font-size: 1.2rem;
	color: color-primary;
}