.Header {
  background: #111121;
  margin: 0;
  font-family: 'Nobile', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px; }
  .Header .Header-left .Logo {
    font-size: 25px;
    color: #FFF;
    padding-right: 10px; }
    .Header .Header-left .Logo span#napper {
      color: #FFF; }
  .Header .Header-left .main-menu .navlink {
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
    margin-left: 10px; }
  .Header .Header-left .main-menu .navlink:hover {
    border-bottom: 2px #E82C0C solid; }
  .Header .Header-right .Login_Register .login_register-link {
    text-decoration: none;
    color: #FFF;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px; }
