@value colors: "../../../../utils/colors.css";
@value color-white, color-black, color-text-tertiary from colors;

.Comment {
	border-bottom: 1px solid color-white;
	padding: 10px;
	box-sizing: border-box;
	margin: 20px 0;	
	position: relative;
	background: color-white;
	border-radius: 3px;
}


.Avatar {
	position: absolute;
	top:0px;
	margin-left:-55px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.Avatar > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.Content {
	font-size: 1.4rem;
	margin-left: 55px;
	position: relative;
}
.CommentText {
	font-size: 1.4rem;
}


.PostInfo {
	display: flex;
	align-items: flex-end;
	font-size: 1.2rem;
}
.PostInfo span {
	color: color-black;
	font-weight: 900;
}
.PostDate > span {
	margin-left: 5px;
	color: color-text-tertiary;
}
.PostDate span:before {
	content: "\00b7";
	margin-right: 6px;
}
.Author {
	font-size: 1.8rem;
}
.Author span {
	margin: 0;
}
.Author a {
	text-decoration: none;
}
.Author a:hover {
	border-bottom: 1px solid;
}