@value colors: "../../../utils/colors.css";
@value 	color-border-lightgrey, color-secondary, color-white from colors;

.TextInput {
	position: relative;
}
.TextInput > label {
	display: inline-block;
	color: color-secondary;
	margin: 20px 0 0;
	font-size: 1.2rem;
	line-height: 2rem;
}
.TextInput > input {
	width: 100%;
	border: 1px solid color-border-lightgrey;
	box-sizing: border-box;
	height: 34px;
	border-radius: 2px;
	padding: 0 8px;
	vertical-align: middle;
	font-size: 1.6rem;
	color: color-text-primary;
	margin: 5px 0 2px;
	outline: none;
}



.Expanded {
	margin: 10px 0;
	height: 100px;
	padding: 10px;
}
.Compressed {
	margin: 0 0;
	height: 40px;
}
.ExpandingTextInput {
	width: 100%;
	padding: 5px 10px;
	outline: none;
	border: 1px solid color-border-lightgrey;
	resize: none;
	transition: .5s all;
	border-radius: 3px;
	box-shadow: 0 4px 4px rgb(0,0,0,.05);
	position: relative;
	background: color-white;
	font-size: 1.4rem;
	color: $color-text-primary;
}
.CompressedOverlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0);
	cursor: text;
}