@value colors: "../../../../utils/colors.css";
@value color-text-tertiary, color-black from colors;

.Vote {
	margin-left: 14px;
}
.Vote i {
	cursor: pointer;
}
.UpVote {
	color: color-text-tertiary;
}
.DownVote {
	color: color-text-tertiary;
}
.CurrentVote {
	color: color-black;
}
span {
	margin: 5px;
}