@value colors: "../../../utils/colors.css";
@value color-black, color-text-seconadry, color-text-tertiary from colors;

.Track {
	display: flex;
	margin: auto;
	padding: 20px 0;
}

.AlbumInfo {
	text-align: center;
}
.AlbumCover {
	width: 100px;
	height: 100px;
}
.AlbumCover > img {
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border: 5px solid color-black;
	box-shadow: 0px 4px 4px rgba(0,0,0,.25);
}


.TextInfo {
	margin-left: 10px;
	font-size: 1.6rem;
}

.Title {
	font-size: 20px;
}
.Title a {
	color: color-text-secondary;
}
.Artist {
}
.Album {
	font-size: 1.5rem;
}
.Year {
	font-size: 2rem;
}

ul.Genres {
	font-size: 1.2rem;
	padding: 0;
}
li.Genre {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 18px;
}
.Genre a {
	color: color-text-tertiary;
	text-decoration: underline;
}
.Genre:after {
	content: ",  ";
	margin-right: 4px;
}
.Genre:last-child:after {
	content: '';
}

