@value colors: "../../../utils/colors.css";
@value color-text-primary, color-primary, color-text-tertiary, color-offWhite, color-border-lightgrey from colors;

.Connection {
	padding: 10px;
	margin-bottom: 20px;
	color: color-text-primary;
	box-shadow: 0 4px 4px rgba(0,0,0,0);
	transition: .2s all;
	position: relative;
	background: #FAFAFA;
	box-shadow: 0px 6px 10px -6px rgba(0,0,0,.25);
}
.Connection:hover {
	box-shadow: 0px 4px 6px -6px rgba(0,0,0,.25);
	background: #EEE;

}
.Connection:hover img {
	/* border: 3px solid color-primary; */
}

.Track {
	display: flex;
	width: 100%;
	box-sizing: border-box;
}
.TrackTwo {
	max-width: calc(100% - 25px);
	margin-top: -10px;
	margin-left: 25px;
}

.AlbumCover {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
}
.AlbumCover > img {
	width: 50px;
	height: 50px;
	box-sizing: border-box;	
	box-shadow: 0 4px 4px rgba(0,0,0,.25);
	transition: .2s all;
}

.TrackTwo .TextInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.TrackOne .TextInfo {
}
.TextInfo {
	font-size: 1.2rem;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 0;
	max-width: 120px;
}

.TextInfo .Title,
.TextInfo .Artist {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.Artist_Year {
	display: flex;
	color: color-text-tertiary;
}
.Artist_Year > span {
	margin: 0 6px;
}
.Title {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 2rem;
}
.Artist {
	color: inherit;
}
.AlbumContainer {
	display: flex;
	display: none;
}
.Album::after {
	content: '-';
	margin: 0 8px;
}

.RatingContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	color: color-text-primary;
	margin: 10px;
}

@media screen and (min-width: 1000px) {
	.TextInfo {
		max-width: none;
	}
}